.app-container {
	margin: 10px 1vw;
}

.vaccine-card {
	margin-top: 10px;
}

::ng-deep .mat-select-panel {
	max-width: calc(100% + 100%) !important;
}

@media print {
	.login-form-container,
	.action-buttons {
		visibility: hidden !important;
	}
}
