.app-container {
	margin: 10px 1vw;
}

.vaccine-card-water-mark {
	width: calc(100% - 20px) !important;
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/Coat_of_arms_of_Tanzania.svg/400px-Coat_of_arms_of_Tanzania.svg.png');
	background-repeat: no-repeat;
	opacity: 0.8;
	background-position: center;
	background-size: 30%;
}
.vaccine-card {
	margin-top: 10px;
	table-layout: fixed !important;
	width: 100% !important;
	word-wrap: break-word !important;
	word-break: break-all !important;
	margin-bottom: 0px !important;
	background-color: #fff;
	opacity: 0.9;
}

.blue-border {
	border: 1px;
	border-style: solid;
	border-color: #0f47af;
}

.yellow-border {
	border: 1px;
	border-style: solid;
	border-color: #fcdd09;
}
.black-border {
	border: 1px;
	border-style: solid;
	border-color: #000000;
}

.red-border {
	border: 1px;
	border-style: solid;
	border-color: #da121a;
}
.green-border {
	border: 1px;
	border-style: solid;
	border-color: #078930;
}
.white-border {
	border: 1px;
	border-style: solid;
	border-color: #ffffff;
}

@media print {
	.login-form-container,
	.action-buttons,
	.dhis2-menu,
	.menu-container {
		visibility: hidden !important;
		display: none !important;
	}
	.dhis2-menu {
		margin-bottom: 0px;
	}

	.application-content {
		margin-top: 0px;
	}
}
