.app-container {
	margin: 10px 1vw;
}

.vaccine-card {
	margin-top: 10px;
}

@media print {
	.login-form-container,
	.action-buttons,
	.dhis2-menu,
	.menu-container {
		visibility: hidden !important;
		display: none !important;
	}
	.dhis2-menu {
		margin-bottom: 0px;
	}

	.application-content {
		margin-top: 0px;
	}
}
