<div class="app-container">
	<div class="row action-buttons" *ngIf="!(isLoading$ | async)">
		<div class="col">
			<div class="d-flex justify-content-between">
				<div>
					<button
						class="no-outline"
						mat-stroked-button
						(click)="onGoBackHome()"
					>
						Go Home</button
					>&nbsp;&nbsp;
					<button
						class="no-outline"
						[disabled]="!(selectedVaccinationCard$ | async)"
						mat-stroked-button
						(click)="onPrintVaccinaCard()"
					>
						Print</button
					>&nbsp;&nbsp;
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="isLoading$ | async">
		<app-loader></app-loader>
	</div>
	<div class="vaccine-card" *ngIf="selectedVaccinationCard$ | async">
		<div>
			<app-vaccine-card-header></app-vaccine-card-header>
		</div>
		<div class="row">
			<div class="col">
				<app-vaccine-card-bio
					[selectedVaccinationCard]="selectedVaccinationCard$ | async"
				></app-vaccine-card-bio>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<app-vaccine-card-dose
					[doseIndex]="doseIndex"
					[selectedVaccinationCard]="selectedVaccinationCard$ | async"
				></app-vaccine-card-dose>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<app-vaccine-card-qr-code
					[selectedVaccinationCard]="selectedVaccinationCard$ | async"
				></app-vaccine-card-qr-code>
			</div>
		</div>
	</div>
</div>
