<div class="app-container">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-between">
        <div>
          <mat-form-field floatLabel="never">
            <mat-select
              placeholder="Choose report"
              [disableOptionCentering]="true"
              (selectionChange)="onSelectReport($event)"
            >
              <mat-option
                class="mat-select-content"
                value="{{ report.id }}"
                *ngFor="
                  let report of getSanitizedListOfReport(
                    hasCountryLevelOrganisationUnit$ | async
                  )
                "
                >{{ report.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          &nbsp;&nbsp;
          <button
            class="no-outline"
            mat-stroked-button
            [disabled]="!selectedReport || disableOrgUnitSelection"
            (click)="openOrganisationUnitFilter()"
          >
            Location</button
          >&nbsp;&nbsp;
          <button
            class="no-outline"
            mat-stroked-button
            [disabled]="!selectedReport || disablePeriodSelection"
            (click)="openPeriodFilter()"
          >
            Period</button
          >&nbsp;&nbsp;
        </div>
        <div>
          <button
            class="no-outline"
            mat-stroked-button
            color="warn"
            (click)="onViewErrors()"
            *ngIf="analyticsError$ | async"
          >
            Errors</button
          >&nbsp;&nbsp;
          <button
            class="no-outline"
            mat-stroked-button
            (click)="onGenerateReport()"
            [disabled]="
              !getReportParameterSelectionStatus() ||
              (disableOrgUnitSelection && disablePeriodSelection)
            "
          >
            Generate</button
          >&nbsp;&nbsp;
          <button
            class="no-outline"
            mat-stroked-button
            (click)="onDownloadReport()"
            [disabled]="
              (analyticsError$ | async) || !(analytics$ | async) || downloading
            "
          >
            Download</button
          >&nbsp;&nbsp;
        </div>
      </div>
      <div class="report-container">
        <div
          class="current-selection"
          *ngIf="!(disableOrgUnitSelection && disablePeriodSelection)"
        >
          <app-current-selection
            [selectedReport]="selectedReport"
            [selectedPeriods]="selectedPeriods"
            [selectedOrgUnitItems]="selectedOrgUnitItems"
            [reportHasPeriod]="
              !selectedReport || selectedReport.disablePeriodSelection
            "
            [reportHasLocation]="
              !selectedReport || selectedReport.disableOrgUnitSelection
            "
          ></app-current-selection>
        </div>
        <div *ngIf="isLoading$ | async">
          <app-loader></app-loader>
        </div>
        <div *ngIf="!(isLoading$ | async)">
          <div *ngIf="selectedReport && !selectedReport.disablePeriodSelection">
            <mat-card *ngIf="analytics$ | async">
              <app-report-view></app-report-view>
            </mat-card>
          </div>
          <div
            *ngIf="
              selectedReport &&
              disableOrgUnitSelection &&
              disablePeriodSelection
            "
          >
            <mat-card>
              <mat-card-content>
                <app-report-download
                  [selectedReport]="selectedReport"
                  [generatedReport]="generatedReport$ | async"
                ></app-report-download>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
