<div class="app-container">
	<div class="row">
		<div class="col">
			<div class="d-flex justify-content-between">
				<div>
					<button
						class="no-outline"
						mat-stroked-button
						[disabled]="isLoading$ | async"
						(click)="openOrganisationUnitFilter()"
					>
						Organisation Unit Selection</button
					>&nbsp;&nbsp;
					<button
						class="no-outline"
						mat-stroked-button
						[disabled]="!shouldGenerateReport || (isLoading$ | async)"
						(click)="openGenerateReport()"
					>
						Generate Report</button
					>&nbsp;&nbsp;
				</div>
			</div>
			<div>
				<app-current-selection
					[selectedOrgUnits]="selectedOrgUnits"
				></app-current-selection>
			</div>
			<div class="report-container">
				<div *ngIf="isLoading$ | async">
					<app-loader></app-loader>
				</div>
				<div *ngIf="!(isLoading$ | async)">
					<mat-card>
						<app-report-view></app-report-view>
					</mat-card>
				</div>
			</div>
		</div>
	</div>
</div>
