<mat-card>
  <mat-card-content>
    <div *ngIf="getReportParameterSelectionStatus()">
      <div
        class="card-item"
        *ngIf="!selectedReport || !selectedReport.disableOrgUnitSelection"
      >
        <span class="item-title">Locations: </span>
        <span>{{ selectedOrgUnitItems | selectionName }}</span>
      </div>
      <div class="card-item">
        <span class="item-title">Report: </span>
        <span>{{ selectedReport ? selectedReport.name : '' }}</span>
      </div>
      <div
        class="card-item"
        *ngIf="!selectedReport || !selectedReport.disablePeriodSelection"
      >
        <span class="item-title">Periods: </span>
        <span>{{ selectedPeriods | selectionName }}</span>
      </div>
    </div>
    <div *ngIf="!getReportParameterSelectionStatus()">
      <p>
        There are no current selections! <br />
        Choose Location, Report and Period above.
      </p>
    </div>
  </mat-card-content>
</mat-card>
