.vaccine-card-header-container {
	padding: 10px;
	text-align: center;
	font-weight: bolder;
}

.icon {
	width: 5rem;
}

.vaccine-card-herader-sub-container {
	margin-top: 20px;
}

.vaccine-card-herader-note {
	margin-top: 30px;
	padding: 10px;
	font-weight: lighter;
}

h2 {
	font-size: 1.2rem;
}

h3 {
	font-size: 1rem;
}
h2,
h3 {
	font-weight: bold;
}

@media print {
	.vaccine-card-herader-sub-container {
		margin-top: 10px !important;
	}

	.vaccine-card-herader-note {
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}

	.vaccine-card-herader-note {
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}
}
