<div class="row">
	<div class="col">
		<div class="vaccine-card-header-container">
			<div class="vaccine-card-herader-sub-container">
				<h2>COVID-19 VACCINATION CERTIFICATE</h2>
			</div>
			<div class="vaccine-card-herader-sub-container">
				<h2>REPUBLIC OF SOUTH SUDAN</h2>
			</div>
			<div class="vaccine-card-herader-sub-container">
				<img class="icon" src="assets/icons/south-sudan-flag.png" alt="" />
			</div>
			<div class="vaccine-card-herader-sub-container">
				<h2>MINISTRY OF HEALTH</h2>
			</div>
		</div>
	</div>
</div>
