<div>
	<h2>Location filter</h2>
	<mat-form-field class="example-full-width">
		<input
			type="text"
			[(ngModel)]="searchText"
			(keyup)="onSeachingOrganisationUnit()"
			matInput
			placeholder="Search"
		/>
	</mat-form-field>

	<div>
		<ngx-dhis2-org-unit-filter
			[filteredOrganisationUnits]="organisationUnits$ | async"
			[selectedOrgUnitItems]="selectedOrgUnitItems"
			[orgUnitFilterConfig]="orgUnitFilterConfig"
			(orgUnitClose)="onFilterUpdate($event, 'CLOSE')"
			(orgUnitUpdate)="onFilterUpdate($event, 'UPDATE')"
		></ngx-dhis2-org-unit-filter>
	</div>
</div>
