.vaccine-card-bio-container {
	margin-top: 50px;
}
.vaccine-card-bio-info {
	font-size: 1.5rem;
	padding-right: 20px;
	padding-left: 20px;
}
.vaccine-card-bio-location {
	text-align: center;
	font-size: 1.2rem;
	padding-top: 15px;
	padding-bottom: 15px;
}

.horizontal-line {
	border-bottom: 1px solid #e5e5e5;
}

.vaccine-card-bio-value {
	font-size: 0.8rem;
}

.vaccine-card-bio-title {
	font-weight: bold;
}

tbody {
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
}
thead,
tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

th,
td {
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	word-wrap: break-word;
}

th {
	text-align: center;
}

table {
	width: 100%;
}
