<div class="vaccine-card-bio-container">
	<div *ngIf="isLoading">
		<app-loader></app-loader>
	</div>
	<div class="row" *ngIf="!isLoading">
		<div class="col">
			<div class="vaccine-card-bio-info">
				<p>
					This is to certify that <b>{{ fullName }}</b
					>, born on <b>{{ dateOfBirth }}</b
					>, bearing vaccination <b>identification Id: {{ identificationNumber }}</b
					>, has been vaccinated in <b>South Sudan</b> against <b>Covid 19</b> on date indicated in
					accordance with the National Health Regulations.
				</p>	
			</div>
		</div>
	</div>
</div>
