<div class="vaccine-card-bio-container">
	<!--<div class="row">
		<div class="col">
			<table class="table-borderless table-responsive table-hover">
				<tbody>
					<tr class="horizontal-line">
						<td>
							<div class="vaccine-card-bio-location">
								{{ location }}
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>-->
	<div class="row">
		<div class="col">
			<table class="table-borderless table-responsive table-hover">
				<tbody>
					<tr
						*ngFor="let vaccineCardBioRow of vaccineCardBioData"
						class="horizontal-line"
					>
						<td *ngFor="let bioData of vaccineCardBioRow">
							<div class="vaccine-card-bio-title">
								{{ bioData.name }}
							</div>
							<div class="vaccine-card-bio-value">
								{{ bioData.value || '' }}
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
