.vaccine-card-dose-container {
	margin-top: 50px;
	margin-bottom: 10px;
}

.vaccine-card-dose-table-header {
	background-color: #b1d0fe;
	font-weight: bold;
}


.horizontal-line {
	border-bottom: 1px solid #e5e5e5;
}

tbody {
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
}
thead,
tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

th,
td {
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	word-wrap: break-word;
}

th {
	text-align: center;
}

table {
	width: 100%;
}
