<div class="vaccine-card-dose-container">
	<table class="table-responsive table-borderless table-hover">
		<thead>
			<tr class="vaccine-card-dose-table-header">
				<td *ngFor="let value of vaccinaDoseHeaderValues">{{ value }}</td>
			</tr>
		</thead>
		<tbody>
			<tr
				*ngFor="let vaccinaDoseRow of vaccinaDoseRowValues"
				class="horizontal-line"
			>
				<td
					*ngFor="let value of vaccinaDoseRow"
					class="vaccine-card-dose-table-value"
				>
					{{ value }}
				</td>
			</tr>
		</tbody>
	</table>
</div>
