.vaccine-card-qr-code {
	text-align: center;
}

.vaccine-card-qr-code-note {
	min-height: 1rem;
	padding-left: 2.3rem;
}

.vaccine-card-qr-code-container {
	margin-top: 50px;
}

.vaccine-card-note {
	text-align: center;
	padding: 10px;
	font-weight: lighter;
}
