.vaccine-card-qr-code {
	text-align: center;
}

.vaccine-card-qr-code-note {
	min-height: 2rem;
	padding-left: 2.3rem;
}

.vaccine-card-qr-code-container {
	margin-top: 50px;
	text-align: justify;
}

.vaccine-card-note {
	text-align: center;
	margin-top: 30px;
	padding: 10px;
	font-weight: lighter;
}
