<div class="vaccine-card-qr-code-container">
	<div class="row">
		<div class="col vaccine-card-qr-code">
			<div *ngIf="selectedVaccinationCard">
				<div>Scan to validate</div>
				<div style="padding-left: 50px">
					<qr-code [value]="qrdCode" padding="5" size="250"> </qr-code>
				</div>
			</div>
			<div class="vaccine-card-note vaccine-card-qr-code-note">
				<p>
					This document is system generated and therefore does not require a
					signature.
				</p>
				<p>You may confirm this certificate by scanning the QR code.</p>
			</div>
		</div>
	</div>
</div>
